<div class="comments-wrap">
  Comments Page
  <form class="new-comment" ng-submit="vm.addComment(comment)">
    <textarea ng-model="test" ng-trim="false" maxlength="500"></textarea>
     <div>{{500 - test.length}} left</div>
      <button class="submit-comment">Submit</button>
  </form>



  <!-- this is hardcoded original link and description -->

  <span>This is the description of the link</span>

  <div>Comments</div>


<!-- // this is where comments will really go -->
  <li ng-repeat="comment in vm.comments">
    <div class="comment-text">
      {{ comments.text }}
    </div>
  </li>
</div>
