<div class="sale-input-wrap">
      <form class="share-form" ng-submit="vm.addShare()">

      <div>
        <table>
          <thead>
            <tr>
              <h1 class="new-share__header">Share Something</h1>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input class="new-share__link" type="text" ng-model="vm.share.url" placeholder="Paste the link here">
              </td>
            </tr>
            <tr>
              <td>
              <textarea class ="new-share__desc" ng-model="vm.share.description" placeholder="Tell us about it!"></textarea>
              </td>
            </tr>


          </tbody>
       </table>
      </div>


      <button class="submit-share">Submit</button>
      <!-- <button ng-click="vm.cancelEditing()">Cancel</button> -->
      </form>
</div>
