
<nav class="shares-nav">
  <h1 class="shares-header">Shares</h1>
  <a class="add-share-button" href="#/shares/new">+</a>
</nav>



<ul>
  <li class="shares-list" ng-repeat="share in vm.shares">
    <div class="votes">
      <button class="icon-up-thumb" ng-click="vm.upvote(share._id)"></button>
        <div class="count">
           {{share.upvotes - share.downvotes}}
        </div>
      <button class="icon-down-thumb" ng-click="vm.downvote(share._id)"></button>
    </div>

    <div class="share-content">
      <div class="share-display">
        <a href="{{share.url}}">{{share.description | ellipsis: 10}}</a>
      </div>
      <!-- <button class="comment-button" ng-click="vm.goToComment()">Comment</button> -->
      <div class="comment">
        <!-- <a class="comments-button" href="#/share/{{share._id}}/comments">Comments</a> -->
        <button class="comments-button" ng-click="vm.goToComments(share)">Comments</button>
      </div>
    </div>
  </li>
</ul>
