$bg-color: #f4efef;
$alt-bg-color: #F4F4F4;

$bold-color: #97d4d9;
$alt-bold-color: #129db3;

$accent-color: #f2e574;
$accent-color-dark: #807d7f;
$alt-accent-color: #aab3bf;
$alt-accent-color-bright: #f2e724;
