.new-share__container {
  padding:2em;
}

.new-share__header {
  font-family: $primary-font;
}

.new-share__link {
  outline: none;
  margin-bottom: 1em;
  min-width: 20em;
  font-size: 1.5em;
  height: 1.25em;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  font-weight: none;
  vertical-align: middle;
  font-family: $secondary-font;

}

.new-share__link:focus, input:hover {
  background-color: $alt-bold-color;
}

.new-share__desc {
  max-height: 2em;
  resize: none;
  outline: none;
  margin-bottom: 1em;
  min-width: 10em;
  font-size: 1.5em;
  height: 1.25em;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  vertical-align: middle;
  font-family: $secondary-font;
}

.submit-share {
  font-family: $secondary-font;
  padding: 1em;
  border-radius: 3px;
  background: $alt-bold-color;
  margin-left: 2em;
}

.submit-share:active {
  font-family: $secondary-font;
  padding: 1em;
  border-radius: 3px;
  background: $alt-bold-color;
}

.submit-share:hover {
  color: $accent-color-dark;
}
