.shares-list {
  // margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  // border-bottom: dotted;
  display: absolute;
}

.shares-nav {
  display: fixed;
}

.shares-header {
  display: inline-block;
}

.add-share-button {
  display: inline-block;
  font-size: 3em;
}

.votes {
  display: inline-block;
}

.icon-up-thumb {
  font-family: "reshare-icons";
  background: transparent;
  color: $accent-color-dark;
  font-size: 1em;
  // padding: -0.5em;
  display: inline-block;
  cursor: pointer;
}

.count {
  display: inline-block;
  vertical-align: middle;
  // padding-left: 10px;
}

.icon-down-thumb {
  font-family: "reshare-icons";
  background: transparent;
  color: $accent-color-dark;
  font-size: 1em;
  // padding: -0.5em;
  display: inline-block;
  cursor: pointer;
}



.share-display {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2em;
}
