.reshare-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 86% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   overflow: hidden;
   padding: .25em .4em;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 8em;
   display: block;
}

.user-input {
  display:block;
}
