.reshare-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 73% center;
   background-repeat: no-repeat;
   border: 1px solid #BBB;
   color: #555;
   overflow: hidden;
   padding: .25em .4em;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 9em;
   display: inline-block;
   height: 3.7em;
   margin-left: 1em;

}

.user-input {
  display:inline-block;
  height: 2em;
  font-family: $secondary-font;
}


.user-form {
  vertical-align: middle;
  position: relative;
}

.users-name {
  font-family: $secondary-font;
}

h1 {
  color: $accent-color-dark;
}

.add-user-button {
  font-family: $secondary-font;
  padding: 0.65em;
  border-radius: 3px;
  background: $alt-bold-color;
  margin-left: 1em;
}

.add-user-button:active {
  font-family: $secondary-font;
  padding: 1em;
  border-radius: 3px;
  background: $alt-bold-color;
}

.add-user-button:hover {
  color: $accent-color-dark;
}

.user-list {
  // margin-bottom: 2em;
  padding: 1em 0 1em 3em;
  border-bottom-color: $accent-color-dark;
  border-bottom-style: solid;
  position: relative;
  top: 2em;
  font-family: $secondary-font;
  width: 100%;

}
