<div class="sale-input-wrap">
      <form class="sale-form" ng-submit="vm.bike.addLineItem()">

      <div class="item-wrap">
        <table>
          <thead>
            <tr>
              <h1>ShareSomething</h2>
            </tr>
          </thead>
          <tbody>

          <tr>
            <td>
              <h2>Sale On <input ng-model="vm.share.url"></h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Used by <input ng-model="vm.share.description"></h2>
            </td>
          </tr>
          </tbody>
       </table>
      </div>


      </form>
      <button ng-click="vm.doneEditing()">Done</button>
      <button ng-click="vm.cancelEditing()">Cancel</button>
</div>
